@charset "UTF-8";


/* PC버전 시작 */
@media screen and (min-width:700px){
    #mainHeader {
        height:1950px;
        background-color:#ddd;
    }
    #headerTop {
        width:1200px; 
        left:50%; top:20px; transform:translateX(-50%);   
    }
    .mainMenu { background:skyblue; }
    .mainMenu li { float:left; }
    .mainMenu li a { 
        display: block;
        line-height:50px; text-align:center;
        padding:0 30px;/*상하:0 죄우:30*/
    }
    .sliderWrap .itemTxt { top:30%; }    
    .sliderWrap .itemOne,
    .sliderWrap .itemTwo { height: 1000px; }

    .bx-wrapper .bx-pager { left:500px; }
}
/* PC버전 종료 */


/* MobILE 버전 시작 */
@media screen and (max-width:699px) {
    #mainHeader { background-color:#ddd; }
    #headerTop { 
        width:100%;
        padding:0 16px;
        z-index:99999;
    }
    #headerTop .mainMenu { 
        position:fixed; left:0%; top:0%;
        width:100%; height:100%;
        background-color:skyblue;
        display:flex; justify-content: center; align-items:center;
        text-align:center; transition:0.3s;
        opacity:0;
    }
    #headerTop .mainMenu.view{ 
        opacity:1;
    }
    #headerTop .mainMenu li { margin-bottom:15px;}
    #headerTop .mainMenu a {
        display: block;
        font-size: 1.5rem;  line-height:40px; width: 200px; font-weight:bold;
        background-color:orange;
    }
    .toggleMenu {
        display: block;
        width:40px; height:40px;
        position:relative;
        background: #000;
        z-index:2;
    }
    .toggleMenu div {
        width:25px; height:3px;
        position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);
        background: white;
        border-radius:2px;
        transition:0.3s;
        cursor:pointer;
    }
    .toggleMenu .bar1 { top:10px; } /*이동*/
    .toggleMenu .bar3 { top:30px; } /*이동*/

    .toggleMenu.active .bar1 { 
        top:50%; transform:translate(-50%, -50%) rotate(45deg); 
    }
    .toggleMenu.active .bar2 { opacity:0;}
    .toggleMenu.active .bar3 {
        top:50%; transform:translate(-50%, -50%) rotate(-45deg); 
    }

    .sliderWrap .itemOne,
    .sliderWrap .itemTwo { 
        height:100vh;   /*뷰포트 단위*/
    } 

} 
/* MobILE 버전 종료 */