@charset "UTF-8";

/* 공통 */
html, body { height:100%; }
.logo {
    background:red; 
    height:50px;
    padding:0 10px;
}
#headerTop {
    background:pink;
    position:fixed;
    display:flex; justify-content:space-between; align-items:center;
    z-index:1;
}
.toggleMenu { display:none; }

.sliderWrap .itemOne { background:url(../images/mainimg01.jpg) no-repeat center;  background-size:cover; }
.sliderWrap .itemTwo { background:url(../images/mainimg02.jpg) no-repeat center;  background-size:cover; }

.sliderWrap .itemTxt { 
    position: absolute; left:50%; top:50%;  transform:translate(-50%, -50%);
    color:white;
}
.sliderWrap .itemTxt h3 { font-size:3rem; text-align: center; line-height:3rem; padding-bottom:20px;}
.sliderWrap .itemTxt p { font-size:0.9rem; text-align: center; line-height:1.8rem; font-weight:400; color:lightgrey;}

.bx-wrapper .bx-pager { width: 100px;}


/* PC버전 시작 */
@media screen and (min-width:700px){
    #mainHeader {
        height:1950px;
        background-color:#ddd;
    }
    #headerTop {
        width:1200px; 
        left:50%; top:20px; transform:translateX(-50%);   
    }
    .mainMenu { background:skyblue; }
    .mainMenu li { float:left; }
    .mainMenu li a { 
        display: block;
        line-height:50px; text-align:center;
        padding:0 30px;/*상하:0 죄우:30*/
    }
    .sliderWrap .itemTxt { top:30%; }    
    .sliderWrap .itemOne,
    .sliderWrap .itemTwo { height: 1000px; }

    .bx-wrapper .bx-pager { left:500px; }

}
/* PC버전 종료 */

/* MobILE 버전 시작 */
@media screen and (max-width:699px) {
    
    #mainHeader { background-color:#ddd; }
    #headerTop {
        width:100%;
        padding:0 16px;
    }
    .mainMenu { display: none; }
    .toggleMenu {
        display: block;
        width:40px; height:40px;
        position:relative;
        background: #000;
    }
    .toggleMenu div {
        width:25px; height:3px;
        position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);
        background: white;
    }
    .toggleMenu .bar1 { top:10px; } /*이동*/
    .toggleMenu .bar3 { top:30px; } /*이동*/

    .sliderWrap .itemOne,
    .sliderWrap .itemTwo { 
        height:100vh;   /*뷰포트 단위*/
    } 

} 
/* MobILE 버전 종료 */