@charset "UTF-8";

:root {
    --one-color:#02b3e4;
    --two-color:#ff5483;
    --three-color:#a951ed;
}   

/* 헤더 영역 */
#header {
    position:relative;
}
#header .bgColor {
    position:absolute; left:0; top:-260px; /* 위치 조정 */
    width:100%; height:600px; /* 크기 조정 */
    background-image:linear-gradient(316deg, #02ccba 0%, #aa7ecd 100%);
    transform:skew(0,-15deg); /* 비틀기 */    
} 
#header .video video {
    width:100%;
    object-fit:fill;
    border-radius:5px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4);
}
#header .video .txt {
    position:absolute; 
    bottom:10px; left:30px;
}
#header .card-view {
    border-radius:5px;
    overflow:hidden;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4);
}
.navbar { transition:0.3s; }
.navbar.onView { background:#343a40; }


/* 슬라이드 영역 */
#slide .row {
    position:relative;
}
#slide .row h4 {
    font-weight:normal;
    font-size:18px;
}
#slide .slide-title {
    color:#7d97ad;
    font-size:15px;
}
#slide .swiper-next {
    width:20px; height:38px;
    background-image:url(../images/right-arrow.svg);
    position:absolute; top:50%; right:0;
    transform:translateY(-50%);
}
#slide .swiper-prev {
    width:20px; height:38px;
    background-image:url(../images/left-arrow.svg);
    position: absolute; top:50%; left:0;
    transform:translateY(-50%);
}

/* 배너 영역 */
#banner .card {
    border:0 none;
    border-radius:5px;
    overflow:hidden;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4);
    cursor:pointer;
}
#banner .card .card-img {   
    position:relative;
}
#banner .card .card-img .mask {
    background:rgba(3, 240, 228, 0.6);
    position:absolute; top:0;
    width:100%; height:100%;
    transition:0.3s;
}
#banner .card:hover .card-img .mask {
    opacity:0;
}

/* advantage 영역 */
#advantage { position:relative; }
#advantage .bgColor {
    position: absolute;
    width: 100%;height: 1000px;
    background-image: linear-gradient(316deg, #02ccba 0%, #aa7ecd 100%);
    transform:skew(0,10deg);
    left:0;top:200px;
}
#advantage .icon {
    width:80px; height:80px; /* 크기 */
    border-radius:40px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.2);
}
#advantage .title1 { color:var(--one-color); }
#advantage .title2 { color:var(--two-color); }
#advantage .title3 { color:var(--three-color); }
#advantage .img-view {
    position:relative;
    height:400px;
}
#advantage .img-view img {
    position:absolute;
    border-radius:5px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.2);
}
#advantage .img-view .img-1st { width:400px; right:0; top:0; } 
#advantage .img-view .img-2st { width:300px; left:0; bottom:0; }
#advantage .img-view .img-3st { width:400px; left: 0;top: 0; }
#advantage .img-view .img-4st { width:400px; right:10px; bottom:10px; }    
#advantage .img-view .img-5st { width:400px; right:0; top:0; }
#advantage .img-view .img-6st { width:300px; left:0; bottom:0; }  

/* 문의사항 영역 */
#contact {
    background:url(../images/contact-cover.jpg) no-repeat center fixed;
    background-size:cover;
}

/* footer 영역 */



/* subPage Company 영역 */
#header .subBgColor {
    position:absolute; left:0; top:0; /* 위치 조정 */
    width:100%; height:100%; /* 크기 조정 */
    background-image:linear-gradient(316deg, #02ccba 0%, #aa7ecd 100%);  
}
.subPage {
    _height:300px;
    background-color: dodgerblue;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.subPage.company { background-image:url(../images/contact-cover.jpg);}
.subPage.catalog { background-image:url(../images/nano2.jpg); }
.subPage.business { background-image:url(../images/nano2.jpg); }
.subPage.commuity { background-image:url(../images/nano2.jpg); }

/* subContent 영역 */
#subContent {
    position: relative;
}