@charset "utf-8";

/* 공통 버전 */

/* 공통 : 토글 메뉴 */
.toggle {
    width: 34px; height: 34px;
    border:1px solid #aaa;
    position: relative;
    cursor: pointer;
    display: none;
  
}
.toggle div {
    width: 20px; height: 3px;
    background-color:#aaa;
    border-radius:1.5px;
    position: absolute; left: 50%; 
    margin-left:-10px;
}
.toggle .bar1 { top:8px;}
.toggle .bar2 { top:14px; }
.toggle .bar3 { top:20px;}
    


/* 공통 : banner 영역 */
#banner .bannerWrap img {
    display:block;
    margin:0 auto; margin-bottom:12px;
}
#banner .bannerWrap .txt {
    color:white;text-align:center;
}
#banner .bannerWrap .txt h3 { font-size:18px; margin-bottom:5px;}
#banner .bannerWrap .txt p { font-size:14px; letter-spacing:-1;}

#banner .bannerWrap ul li:nth-child(1) { background-color:#7c99b9; }
#banner .bannerWrap ul li:nth-child(2) { background-color:#4f74a1; }
#banner .bannerWrap ul li:nth-child(3) { background-color:#4b8ce0; }
#banner .bannerWrap ul li:nth-child(4) { background-color:#3db5f2; }
#banner .bannerWrap ul li:nth-child(5) { background-color:#95c8ff; }

#banner .bannerWrap ul li:nth-child(1) { background-color:#7c99b9; }
#banner .bannerWrap ul li:nth-child(2) { background-color:#4f74a1; }
#banner .bannerWrap ul li:nth-child(3) { background-color:#4b8ce0; }
#banner .bannerWrap ul li:nth-child(4) { background-color:#3db5f2; }
#banner .bannerWrap ul li:nth-child(5) { background-color:#95c8ff; }


/* 공통 : section1st 영역 */
#section ul li:nth-child(1) { background-image:url(../images/content_icon01.png) }
#section ul li:nth-child(2) { background-image:url(../images/content_icon02.png) }
#section ul li:nth-child(3) { background-image:url(../images/content_icon03.png) }
#section ul li:last-child { margin-right:0; }
#section ul li .txt { width:150px; }
#section ul li .txt h3 { font-size:18px; margin-bottom:5px; }
#section ul li .txt p { font-size:14px; margin-bottom:13px; }
#section ul li .txt a { font-size:14px; color:#1c84ff; }

.cir:after{
    content:"";
    display:block;
    position: absolute; left:50%; top:50%;
    width:24px; height:2px;
    margin-left:-12px;margin-top:-1px;
    background:#fff;
}
.cir:before{
    content:"";
    display:block;
    position:absolute; left: 50%;top: 50%;
    width:2px; height:24px;
    margin-left:-1px;margin-top:-12px;
    background:#fff;
}
.mb5 {margin-bottom:5px !important; }
.mb16 {margin-bottom:16px !important; }

/* 공통 : section2st 영역 */





/* 모바일 버전 */
@media screen and (max-width:699px) {

/* header */
    #header {  
        height: 50px;
        padding: 0 16px; 
        /* background-color:skyblue;   */
        box-shadow:0 10px 10px rgba(0,0,0,0.5);
    }
    #header .logoWrap { position: relative; }
    #header .topWrap { display:none; }
    #header .navWrap { display:none; }
    #header .toggle { 
        display:block;
        position:absolute; right:16px; top:8px;
    }
    #header .logoWrap h1 { 
        position:absolute; left:16px; 
        line-height:50px;
    }

/* visual 부분 */
    .visualWrap  {
        position: relative;
        height: 600px;
        padding:30px; padding-top:50px;
        background: url(../images/main_bg01.jpg) no-repeat; background-size:cover; 
        overflow:hidden;
    }
    .visualTxt { color:white; font-size:79px; font-weight:bold; line-height:70px; }
    .visualWrap img { position:absolute; bottom:-100px; right:-30px; }
    
/* 모바일 banner Area */
    #banner {
        padding:16px;
        background-color:white;
    }
    .bannerWrap p { display: none; }
    #banner .bannerWrap li {
        float:left;
        width:calc(100%/2); height:196px;
        padding:10px; padding-top:19px;
        text-align:center;
    }
    #banner .bannerWrap li:last-child { display:none; }

/* 모바일 : section1st Area */
    #section1st { padding:16px; }
    #section1st ul li {
        position:relative;
        float:left; 
        width:100%;
        /* background-color:pink; */
        margin-bottom:16px;
        border-radius:0 10px 0 10px;
        overflow: hidden;
        box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    }
    #section1st ul li:last-child { margin-bottom:0; }
    #section1st ul li .txt {
        padding:18px 16px;
        border:1px solid #e5e5e5; border-top:0 none;
    }
    #section1st ul li .txt h3 { font-size:18px; margin-bottom:10px; }
    #section1st ul li .txt p { font-size:14px; }
    #section1st ul li img { width:100%; }
    #section1st .circle{
        position:absolute; right:16px; bottom:25px;
        width:50px; height:50px; background:#aaa;
        border-radius:25px
    }
    #section1st ul li:last-child { display:none; }

    /* 모바일 : #section2st Area */
    #section2st { padding: 0 16px; margin-bottom:20px; }
    #section2st li{
        position:relative;
        float:left; 
        width:calc((100% - 10px) / 2); border:1px solid #ccc;
        border-radius:10px; 
        margin-right:10px;
    }
    #section2st li:nth-child(2) { margin-right:0; }
    #section2st li img {
        position:absolute; right:0; 
        height:100%;
    }
    #section2st .txt { padding:18px 16px }
    #section2st .txt h3 {margin-bottom:10px; }
    #section2st .txt p { display: none; }
    #section2st .txt a { color:#1c84ff; font-size:14px; font-weight:bold; }
    #section2st li:last-child { display:none; }

    /* 모바일 : footert Area */
    #personal { 
        background-color: #4D4D4D; 
        padding:0 16px 0 16px;
    }
    #personal .personalWrap ul { float: left; }
    #personal .personalWrap .tobBtn { float: right; }
    #personal .personalWrap {
        width:100%; height:44px;
        margin: 0 auto;
    }
    #personal .personalWrap li { float: left; }
    #personal .personalWrap li a {
        position:relative;
        display:block;
        color:#A9A9A9; font-size:14px; font-weight: bold; line-height: 44px;
        padding-left:20px; padding-right:20px;
    }
    #personal .personalWrap li a::after {
        content: "";
        width:1px; height:10px;
        display:block;
        background-color: #717171;
        position:absolute; top:16px; right:0;
    }
    #personal .personalWrap li:last-child a::after {
        content:"";
        display:none;
    }
    #personal .personalWrap .tobBtn {
        box-shadow: rgba(0,0,0,0.5);
        border-radius:10px;
        overflow:hidden;
    }
    #personal .personalWrap .tobBtn a {
        position:fixed; bottom:200px; right:16px;  
        display: block;
        height:44px; width:60px;
        background: url(../images/topBtn.png) no-repeat center;
        
    }
    #company { background-color: #5e5e5e; }
    #company .companyWrap { width:100%; height:auto; }
    #company .companyWrap h1 { text-align:center; }
    #company .companyWrap h1 a { color:#a0a0a0; line-height: 104px; }
    #company .companyWrap .txt { margin:0 auto; }
    #company .companyWrap .txt p { 
        font-size:14px; font-weight: bold; color:#a0a0a0; text-align: center;
        margin-bottom:5px;
    }
    #company .companyWrap .txt address {
        color:#a0a0a0; font-style: normal; font-size:14px; text-align: center;
        padding: 16px; 
    }
}


/* pc  버전*/
@media screen and (min-width:700px) {
    /* header */
    #header .topWrap { border-bottom:1px solid #DDDDDD; }
    #header .topWrap .top { 
        width: 980px;
        margin:0 auto;
        /* background-color:skyblue; */
    }
    .util { float:right; }
    .util ul li { float: left; }
    .util ul li a {
        display:block;
        height: 26px;
        padding:0 12px;
        font-size:14px; color:#888888; text-align:center; line-height:26px;
        position: relative;
    }
    .util ul li a:hover {
        color:dimgray; font-weight:bold;
    }
    .util ul li a::after {
        content: "";
        width:1px; height:10px;
        display:block;
        background-color:#8888;
        position:absolute; top:7px; right:0;
    }
    .util ul li:last-child a::after {
        content:"";
        display:none;
    }

    /* logoWrap */
    .logoWrap {
        width:980px;
        margin:0 auto;
        /* background-color: red; */
    }
    .logoWrap h1 {
        width:200px; 
        margin:0 auto;
    }
    .logoWrap h1 a {
        display:block;
        line-height:75px; text-align: center;
    }

/* navWrap */
    .navWrap { background-color: #1d5da4; }
    .navWrap .gnb {
        width: 980px;
        margin:0 auto;
    }
    #header .navWrap .gnb li {
        float:left; 
        width: calc(100%/6);
        border-right: 1px solid #336dac;
    }
    .navWrap .gnb li:first-child { border-left: 1px solid #336dac; }
    .navWrap .gnb li a {
        display: block;
        height:45px;
        color:white; text-align:center; line-height:45px; font-weight: bold;  
    }
    .navWrap .gnb li a:hover { background-color:#0a1e50; }

    /* visual Area */
    #visual {
        height:400px;
        background:url(../images/main_bg01.jpg) no-repeat center; overflow: hidden;
    }
    #visual .visualWrap {
        position:relative;
        width:980px;
        margin:0 auto;  
    }
    #visual .visualWrap .visualTxt {
        position:absolute; top:120px;
        color:white; font-size:79px; font-weight:bold; line-height:92px; letter-spacing:0.085rem;   
    }
    #visual .visualWrap img { position:absolute; right:0; }

/* banner Area */
    .bgGray { background-color:#ccc  !important; }
    #banner .bannerWrap {
        width:980px; 
        margin:0 auto; margin-bottom:30px;
    }
    #banner .bannerWrap li {
        float:left;
        width:calc(100%/5); height:196px;
        padding:10px; padding-top:19px;
    }

/* section1st Area */
    #section1st {
        width:980px;
        margin:0 auto; margin-bottom:30px;
    }
    #section1st ul li {
        float:left; 
        width:310px;
        margin-right:25px;
    }
    #section1st ul li:last-child { margin-right:0; }
    #section1st ul li .txt {
        padding:18px 16px;
        border: 1px solid #e5e5e5; border-top:0 none;
    }
    #section1st ul li .txt h3 { font-size:18px; margin-bottom:5px;}
    #section1st ul li .txt p { font-size:14px;}
    #section1st ul li img { display: block; }

    /* section2st Area */
    #section2st {
        width: 980px;
        margin:0 auto; margin-bottom:30px;
    }
    #section2st ul li {
        float:left;
        width: 310px;
        padding:18px 15px;
        margin-right:25px;
        border: 1px solid #e5e5e5;
        position: relative;
        overflow: hidden;
    }
    #section2st ul li:last-child { margin-right:0; }
    #section2st ul li img { position: absolute; right:-40px; top: 2px; }
    #section2st ul li .txt { width: 150px; }
    #section2st ul li .txt h3 { font-size:18px; margin-bottom:13px; }
    #section2st ul li .txt p { font-size:14px; margin-bottom:13px; }
    #section2st ul li .txt a { font-size:14px; color:#1c84ff; }

/* footert Area */
    #personal { background-color: #4D4D4D; }
    #personal .personalWrap ul { float: left; }
    #personal .personalWrap .tobBtn { float: right; }
    #personal .personalWrap {
        width: 980px; height:44px;
        margin: 0 auto;
    }
    #personal .personalWrap li { float: left; }
    #personal .personalWrap li a {
        position:relative;
        display:block;
        color:#A9A9A9; font-size:14px; font-weight: bold; line-height: 44px;
        padding-left:20px; padding-right:20px;
    }
    #personal .personalWrap li:first-child a { padding-left :0px; }
    #personal .personalWrap li a::after {
        content: "";
        width:1px; height:10px;
        display:block;
        background-color: #717171;
        position:absolute; top:16px; right:0;
    }
    #personal .personalWrap li:last-child a::after {
        content:"";
        display:none;
    }
    #personal .personalWrap .tobBtn a {
        display: block;
        height:44px; width:60px;
        background: url(../images/topBtn.png) no-repeat center;
    }
    #company { background-color: #5e5e5e; }
    #company .companyWrap {
        width:980px; height:104px;
        margin: 0 auto;
    }
    #company .companyWrap h1 {
        float:left;
        margin-right:30px;
    }
    #company .companyWrap h1 a { color:#a0a0a0; line-height: 104px; }
    #company .companyWrap .txt {
        float:left;
        padding-top:12px;
    }
    #company .companyWrap .txt p {
        font-size:14px; font-weight: bold; color:#a0a0a0;
        margin-bottom:5px;
    }
    #company .companyWrap .txt address {
        color:#a0a0a0; font-style: normal; font-size:14px;
    }
}