@charset "UTF-8";


.bigText72, .bigText50 {
    font-family:'Noto Sans KR', sans-serif;
    color:white;
    text-shadow: 2px 2px 2px gray;
}

.bigText72 {    
    font-size:72px; 
    font-weight: bold;
    letter-spacing:-2.6px;  
}

.bigText50 {
    font-size:50px; 
    font-weight:100;
    letter-spacing:-5px;
}
.p14 {
    font-family:'Roboto', sans-serif;
    color:white;
    font-size:14px;
    font-weight:300;
    text-align:center;
    line-height:20px; 
    letter-spacing:-0.2px;
}