@charset "UTF-8";

/* 마진 값 */
.marginBotton16 { 
    margin-bottom:16px !important; 
}


/* bxslider 박스 그림자 없애기 */
.bx-wrapper {
    -moz-box-shadow:0 none !important;
    -webkit-box-shadow:0 none !important;
    box-shadow:none !important;
    border: 0 none !important;
    margin-bottom: 0 !important;
}
.bx-wrapper .bx-pager { 
    bottom: 30px !important;
}