@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.robotoFont22 {
    font-family:'Roboto', sans-serif;
    font-size:22px;
}

.bigText72, .bigText50 {
    font-family:'Noto Sans KR', sans-serif;
    color:white;
    text-shadow: 2px 2px 2px gray;
}

.bigText72 {    
    font-size:72px; 
    font-weight: bold;
    letter-spacing:-2.6px;  
}

.bigText50 {
    font-size:50px; 
    font-weight:100;
    letter-spacing:-5px;
}
.p14 {
    font-family:'Roboto', sans-serif;
    color:white;
    font-size:14px;
    font-weight:300;
    text-align:center;
    line-height:20px; 
    letter-spacing:-0.2px;
}
.roboto72 {
    font-family:'Roboto', sans-serif;
    font-size:65px;
    color:#1553B8;
    line-height:72px;
    letter-spacing:-3px;
    text-shadow: 1px 1px 1px #fff;
}

.notoSanseThin {
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
    font-weight:300;
    font-size:40px;
    letter-spacing:-3px;
    line-height:50px;
}

.robto34_300 {
    font-family:'Roboto', sans-serif;
    font-size:34px;
    font-weight:300;
}

.notoSanse_32_300 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300;
    font-size:32px;
    letter-spacing:-3px;
}

.notoSanse_60_bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:bold;
    font-size:60px;
    letter-spacing:-3px;
}